

.list-group-item{
    border: 0;
    height: 50px;
    

}

.list-group {
    width: 200px;
    height: 80x;
    margin-top: 30px;

}

.list-group-item:Hover {
   background-color: lightgray;
}

.divider {
    top: 70px;
    
    width: 40%;
    
     /* Adjust width of the dividing line */
  }
  .shortcuts-title {
    text-align: left;
    font-size: 20px; /* Decrease font size */
    margin-bottom: 10px;
    margin-left: -50px;

    
  }

  ul{
    margin-left: -70px;
  }
/*  */